* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }



.roboto-400, body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: #E7E7E7;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

header {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 40px;
}

header img {
    height: 36px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

form {
    display: flex;
    align-items: center;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 54px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
padding: 8px 0;
text-align: center;
font-size: 18px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.reprovado {
background-color: red;
}

.aprovado {
background-color: green;
}




